.search-container {
  color: #fff;
}

h1 {
  text-align: center;
}

.search-bar, .search-result, .loading-error {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-evenly;
  margin-left: 15%;
  padding: 25px 0;
}

.search-input {
  height: 30px;
  width: 180px;
  border-radius: 15px;
  padding: 5px 15px;
  border: none;
  color: black;
  outline: none;
}

.search-result .item {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.search-result .item .label {
  font-size: 15px;
  font-style: italic;
  padding-right: 10px;
}

.search-result .item .data {
  font-size: 20px;
  font-weight: 600;
}

.search-result .item .data.name {
  margin-right: 30px;
}
